.login{
height: 100vh;
background-color: rgb(174,222,228); 
display: flex;
align-items: center;
justify-content: center;
    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        .left{
            flex: 1;
            background: linear-gradient(rgba(39,11,96,0.5), rgba(39,11,96,0.5)), url("./sharing.jpg") center;
            
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: white;
            h1{
                font-size: 120px;
            }
            p{
                font-size: 20px;
            }
            span{
                font-size: 16px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            h1{
                color: #555;
                font-size: 30px;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding:20px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(174,222,228);
                    font-weight: bold;
                    color: 	rgb(242, 242, 242);
                    cursor: pointer;

                }
            }
        }
    }
}